<div class="container-background"></div>

<div class="spacer"></div>

<div class="d-flex align-items-center justify-content-center">
<div class="jumbotron w-60">
  <h1 class="display-4">Welcome to <strong>Ascend</strong></h1>
  <p class="lead">an in-development online climbing logbook!</p>
  <hr class="my-4">
  <p><strong>ACCOUNT CREATION AND LOGIN:</strong> Currently, Ascend requires you to provide an email and password in order to log-in
   and start using the application. </p><p>As a junior developer, I cannot make any promises as to how safe these emails and passwords 
   are. I have followed best practices on my end, but I simply don't have enough experience to understand all the vulnerabilities yet.</p>
   <p>Feel free to use a fake email address and I would encourage you to create a password you do not use on any other service.</p>
   <hr class="my-4">
  <p>The idea behind Ascend is to create a climbing logbook web-app that is focused on the climber as an individual, rather than 
  "ranking" them against others or building a repository of information for outdoor crags. Eventually, I'd like to be able to flesh 
  out this bare-bones app a little more to give users different statistical insights into their climbing and synthesize the data
  into a bunch of different graphs/percentages etc. </p><p>Alas, my development skills (and amount of spare time) aren't quite up to 
  that stage yet, but currently the site is functional as a super basic way to store your ticks and search through them.</p> 
  
  <p>Please shoot me a message on <a href="https://github.com/nick-ducker">my GitHub</a> if/when you find a bug or would like to see some kind of functionality added =)</p>

  <p><strong>TL;DR:</strong> Use a fake email and a password you don't use for any other service. This app is in very early stages of development,
  you WILL find bugs!</p>

  <%= link_to  "Home", root_path, class: "btn btn-primary" %>
</div>
</div>