@import './bootstrap_custom.scss';

html,body {
  height:100%;
  width:100%;
  position:relative;
}

//backgrounds
.background-index {
  position:fixed;
  width:100%;
  height:100vh;
  background-position: center center;
  background-size: cover;
  z-index: -1;
}

.container-background {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  color: white;
  z-index: -1;
}


// CAROUSEL
#background-carousel{
position:fixed;
width:100%;
height:100%;
z-index:-1;
}
.carousel,
.carousel-inner {
width:100%;
height:100%;
z-index:0;
overflow:hidden;
}
.carousel-item {
width:100%;
height:100%;
background-position:center center;
background-size:cover;
z-index:0;
}

#content-wrapper {
position:absolute;
z-index:1 !important;
min-width:100%;
min-height:100%;
}
.well {
  opacity:0.85
}

.backone {
  background-image: url(../images/hu-chen-EqnEmYuKKb4-unsplash);
}

.backtwo {
  background-image: url(../images/IMG_3227.jpg);
}

.backthree {
  background-image: url(../images/yns-plt-NY1D4Zni7fc-unsplash.jpg);
}

// LOGIN FORM
.spacer {
  height: 10%;
  width: 100%;
}

.container {
  height: 80%;
  color:white;
  margin-left: auto;
  margin-right: auto;
  }
  
  .logincard{
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0,0,0,0.5) !important;
  }
  
  .card-header h3{
  color: white;
  }
  
  .input-group-prepend span{
  width: 50px;
  background-color: #FFC312;
  color: black;
  border:0 !important;
  }
  
  input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
  
  }
  
  .login_btn{
  color: black;
  background-color: #FFC312;
  width: 100px;
  }
  
  .login_btn:hover{
  color: black;
  background-color: white;
  }

  // ALERT

.alert {
  position: fixed;
  width: 80%;
  bottom: 0;
  margin-left: 10%;
  margin-left: 10%;
  z-index: 1070;
}

// THEAD transperency

thead {
  opacity: 0.8;
}

//table z-index

.table {
  z-index: 1000;
}

//trainingpage cardgroup

.card {
  background-color: rgba(0,0,0,0.5) !important;
}

.hoverable {
  transition: 1s;
  box-shadow: 0 0px 0px 0px black;
  
  &:hover {
    background-color: rgba(41, 41, 41, 0.5) !important;
    box-shadow: 0 5px 15px 0px black;
  }
}

//Navtabs styling

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

//Favorite star styling

.favorite {
  fill: rgb(199, 167, 62);
  transition: 1s;
  &:hover {
    fill: rgb(245, 207, 84);
  }
}

.notfavorite {
  fill: rgb(90, 90, 90);
  transition: 1s;
  &:hover {
    fill: rgb(124, 124, 124);
  }
}